.form__title-footer {
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 21px;
    color: var(--white);
    text-align: center;
}

.form__link-footer {
    text-decoration: underline;
    color: var(--white);
    margin-left: 5px;
    cursor: pointer;
}
