<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Sign up</title>
    <link rel="stylesheet" href="../../index.pcss"/>
</head>
<body>
    <main class="container">
         <div class="error">
                {{> title/title class="title-error" text="404"}}
                {{> subtitle/subtitle class="subtitle-error" text="Nothing to see here" }}
                {{> link/link link="../../index.hbs" class="link-error" text="Main page"}}
          </div>
    </main>
</body>
