<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Sign up</title>
    <link rel="stylesheet" href="../../index.pcss"/>
</head>
<body>
    <div class="container">
        <div class="error">
           {{> title/title class="title-error" text="505"}}
           {{> subtitle/subtitle class="subtitle-error" text="Our cats broke something. We are fixing..." }}
           {{> link/link link="../../index.hbs" class="link-error" text="Main page"}}
        </div>
    </div>
</body>
