---
person:
    name: Test 1
    login: testovich
    email: test@mail.ru
    surname: Testov
    phone: 88889998899
---
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
    <link rel="stylesheet" href="../../index.pcss"/>
</head>
<body>
    <div class="container">
    <div class="profile">
        <div class="profile-view">
            <div class="profile-view__avatar">
               {{> avatarChat/avatarChat class="profile-avatar" }}
            </div>
            <div class="profile-view__fieldset">
                {{#each person}}
                   <div class="profile-view__item">
                       <p class="profile-view__name"> name </p>
                       {{this}}
                   </div>
                {{/each}}
            </div>
        </div>
        <div class="profile__buttons">
            {{> button/buttonLink location="location.href='./index.hbs'" label="Edit" class="profile-button__edit"}}
            {{> button/buttonLink location="location.href='./index.hbs'" label="Change password" class="profile-button__password"}}
        </div>
    </div>
</body>
