.profile {
    display: flex;
    margin: 0 auto;
    flex-direction: column;
}

.profile-view {
    display: flex;
}

.profile__buttons {
    display: flex;
    margin-top: 35px;
    flex-direction: column;
    gap: 20px;
}

.profile-button__edit {
    background-color: var(--nude);
}

.profile-button__password {
    background-color: var(--error);
    color: var(--white);
}

.profile-view__item {
    color: white;
}