<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign up</title>
    <link rel="stylesheet" href="../../index.pcss"/>
</head>
<body>
    <main class="container">
       {{> formSignup/formSignup action="#" method="post" class="form-signup"}}
    </main>
</body>
</html>