.button {
    color: var(--text-black);
    border: none;
    height: 45px;
    width: 320px;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
}

.button-svg {
  position: absolute;
  right: 15px;
  box-sizing: content-box;
  padding: 6px;
  width: 35px;
  text-align: end;
  cursor: pointer;
  height: 100%;
  background: transparent;
  border: none;
}
