---
chat:
  - namePerson: Test 1
    textPerson: Katz Got Your Tongue
    notification: false
    time: '13:55'
    isReaden: false
    isChosen: false
  - namePerson: Test 2
    textPerson: SproutCore Blog
    notification: true
    time: '13:55'
    isReaden: true
    isChosen: false
  - namePerson: Test 3
    textPerson: Katz Got Your Tongue
    notification: false
    time: '13:55'
    isReaden: false
    isChosen: false
  - namePerson: Test 4
    textPerson: Katz Got Your Tongue
    notification: false
    time: '13:55'
    isReaden: false
    isChosen: false
  - namePerson: Test 5
    textPerson: SproutCore Blog
    notification: true
    time: '13:55'
    isReaden: true
    isChosen: true
  - namePerson: Test 6
    textPerson: Katz Got Your Tongue
    notification: true
    time: '13:55'
    isReaden: true
    isChosen: false
  - namePerson: Test 7
    textPerson: Katz Got Your Tongue
    notification: false
    time: '13:55'
    isReaden: false
    isChosen: false
  - namePerson: Test 8
    textPerson: SproutCore Blog
    notification: false
    time: '13:55'
    isReaden: false
    isChosen: false
  - namePerson: Test 9
    textPerson: Katz Got Your Tongue
    notification: false
    time: '13:55'
    isReaden: false
    isChosen: false

messages:
  - text: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    timeMessage: '19.07.22'
    isOpponent: true
    isNotToday: true
  - text: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    timeMessage: '13:22'
    isOpponent: true
    isToday: false
  - text: Lorem ipsum dolor sit amet.
    timeMessage: '13:22'
    isOpponent: true
    isToday: false
  - text: Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
    timeMessage: '13:22'
    isOpponent: false
    isToday: false
    isRead: true
  - text: Lorem ipsum dolor.
    timeMessage: '13:22'
    isOpponent: true
    isToday: false


---
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Sign up</title>
    <link rel="stylesheet" href="../../index.pcss"/>
</head>
<body>
    <div class="container">
        <div class="chat">
            <div class ="chat-list">
                <div class="chat-list__header">
                    {{> menu/burgerMenu }}
                    {{> chatSearch/chatSearch class="chat-search" action="#" method="get" classText="chat-input" searchPlaceholder="search-here"}}
                </div>
                {{#each chat}}
                {{#if isChosen}}
                    {{> link/link link="chat-chosen.hbs" class="link-nav" text="Click to see chosen version"}}
                {{/if}}
                <div class="chat-list__person">
                    {{> avatarChat/avatarChat class="chat-avatar"}}
                    <div class="chat-nameArea">
                        <p class="chat-nameArea__name">{{this.namePerson}}</p>
                        <p class="chat-nameArea__text">{{this.textPerson}}</p>
                    </div>
                    <div class="chat-info">
                        <div class="chat-info__top">
                            {{#if notification}}
                                {{> notification/notification class="chat-notification" quantity="1"}}
                            {{/if}}
                            {{> menu/deleteChat}}
                        </div>
                        <div class="chat-info__bottom">
                            {{#if isReaden}}
                                {{> svgIcon/svgIcon id="double-check"}}
                            {{else}}
                                {{> svgIcon/svgIcon id="check"}}
                            {{/if}}
                            <p class="chat-info__time">{{this.time}}</p>
                        </div>
                    </div>
                </div>
                {{/each}}
                </div>
                <div class="chat-view__nothing">
                    {{> title/title class="chat-view__title" text="Choose your chat"}}
                </div>
            </div>
        </div>
    </div>
</body>
