.chat-notification {
    background-color: var(--nude);
    border-radius: 100px;
    border: none;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    font-weight: 700;
    font-size: 13px;
    color: var(--black);
}

.helper-chat-text {
  color: var(--white);
  font-size: 18px;
  text-align: center;
  margin-top: 40px;
}
