<div class="add-members">
    <input id="add-members__toggle" type="checkbox" />
    <label class="add-members__btn" for="add-members__toggle">
       {{> svgIcon/svgIcon id="triple-dots-hotizontal"}}
    </label>

    <div class="add-members__block">
        {{> svgIcon/svgIcon id="add-member"}}
         <span class="add-members__item">Add members</span>
    </div>
</div>