.link-error {
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 13px;
    text-align: center;
    color: var(--orange);
    text-decoration: none;
}

.link-nav{
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 13px;
    text-align: center;
    color: var(--white);
    text-decoration: none;
}