.subtitle-error {
    color: var(--white);
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 47px;
    width: 384px;
    align-self: center;
    text-align: center;
}