<div class={{class}}>
<p class={{classText}}>{{textModal}}</p>
<div class="button-fieldset">
{{> button/button class="first-button" label="Yes" }}
{{> button/button class="second-button" label="No" }}
</div>
</div>