.chat-search {
    margin-top: 8px;
}

.search-label {
    position: relative;
}

.search-label > .icon {
    position: absolute;
    top: 60%;
    left: 10px;
    transform: translateY(-50%);
    color: var(--white);
}