.form-signin {
    padding: 60px 40px;
    display: flex;
    min-height: 545px;
    max-width: 400px;
    width: 100%;
    background-color: var(--black);
    flex-direction: column;
    margin: 0 auto;
    box-sizing: border-box;
    box-shadow: 4.07429px 4.07429px 4.07429px rgba(0, 0, 0, 0.25);
}

.form-signin__fieldset{
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    margin: 85px 0;
}

.form-signin__button {
    background-color: var(--nude);
}

