<div class={{class}}>
{{> link/link link="./src/pages/errors/404.hbs" class="link-nav" text="404"}}
{{> link/link link="./src/pages/errors/505.hbs" class="link-nav" text="505"}}
{{> link/link link="./src/pages/home/chat.hbs" class="link-nav" text="Chats"}}
</div>
