.form__title {
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 41px;
    text-align: center;
    border-bottom: 3px solid var(--orange);
    color: var(--orange);
}