<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign in</title>
    <link rel="stylesheet" href="index.pcss"/>
</head>
<body>
    <main class="container">
        {{> formSignin/formSignin action="#" method="post" class="form-signin"}}
        {{> navigation/navigation class="nav"}}

    </main>
</body>
</html>