@import "components/helpers/button/style/button.pcss";
@import "components/helpers/form/style/formSignin.pcss";
@import "components/helpers/field/style/field.pcss";
@import "components/helpers/titleForm/style/titleForm.pcss";
@import "components/helpers/titleFormFooter/style/titleFormFooter.pcss";
@import "components/helpers/form/style/formSignup.pcss";
@import "components/helpers/label/style/label.pcss";
@import "components/helpers/title/style/title.pcss";
@import "components/helpers/subtitle/style/subtitle.pcss";
@import "components/helpers/navigation/style/navigation.pcss";
@import "components/helpers/link/style/link.pcss";
@import "components/chat/chatHelper/style/avatarChat.pcss";
@import "components/chat/chatHelper/style/notification.pcss";
@import "components/helpers/svgIcon/style/svgIcon.pcss";
@import "components/chat/chatLeft/chatSearch/style/chatSearch.pcss";
@import "components/menus/menu/style/burgerMenu.pcss";
@import "components/menus/menu/style/infoMenu.pcss";
@import "components/menus/menu/style/addMembersMenu.pcss";
@import "components/menus/menu/style/deleteChat.pcss";
@import "components/chat/chatRight/chatViewMessageItem/style/chatMessage.pcss";
@import "components/helpers/modalError/style/modalError.pcss";
@import "pages/error/style/errors.pcss";
@import "pages/chat/style/chat.pcss";
@import "pages/profile/style/profile.pcss";
@import 'static/fonts/fonts.pcss';





:root {
    --black: #212429;
    --total-black: #202020;
    --fatality-black: #121212;
    --text-black: #2E2D2D;
    --dark-grey: 202020;
    --grey: #D9D9D9;
    --white: #FFFFFF;
    --orange: #FFA800;
    --nude: #BAB4A9;
    --error: #FF0000;
    --emerald: #0B606B;
    --green: #0A8300;
}

* {
    font-family: 'Hind Madurai', sans-serif;
}

body{
    margin: 0;
}

.container {
    background-color: var(--total-black);
    min-height: 100vh;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
